<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAKING MEMORY</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Message</th>
            <th>Prompt</th>
            <th>Caption</th>
            <th>Image Filename</th>
            <th>Image</th>
        </tr>
        {% if memories %}
        {{ memories }}
       
    {% endif %}
    </table>
</body>
<script>
</script>
</html>